.card_flipped > .backSide {
  transform: rotateY(90deg);
  /* animation: 2s ease-in-out card-flip; */
  transition: transform 1s;
}

.card_flipped > .frontSide {
  transform: rotateY(0deg);
  transition: transform 1s 1s;
}

.card > .frontSide {
  transform: rotateY(90deg);
}

.card_flipped > img,
.card > img {
  object-fit: contain;
  position: absolute;
  perspective: 1000px;
}

@keyframes card-flip {
  0% {
  }

  100% {
    transform: rotateY(90deg);
  }
}
