.card_flipped > .backSide {
  transform: rotateY(90deg);
}

.card_flipped > img,
.card > img {
  object-fit: contain;
}

.card-grid > button {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 1vw;
}

.card-grid > button > img {
  position: absolute;
  top: 0;
  left: 0;
}

.card-grid {
  display: flex;
  gap: 10vw;
}
