.endscreen {
  width: 80vw;
  margin: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.44);
}

.restart {
  border: none;
  margin: 16px;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.bold {
  color: rgba(123, 10, 10, 0.721);
  font-weight: 700;
}
