.endscreen {
  width: 80vw;
  margin: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.44);
}

.restart {
  padding: 0.25rem;
  border: none;
  border-radius: 0.5rem;
  background-color: gray;
}

.bold {
  color: rgba(123, 10, 10, 0.721);
  font-weight: 700;
}
