/* CARD */

.card-grid > button {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 1vw;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(240, 248, 255, 0);
}

.card-grid > button > img {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid white;
}

.card-grid {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.background {
  background-image: url("../public/Images/background.png");
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
  min-height: 90vh;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

@media (width < 800px) {
}
