/* CARD */

.card-grid > button {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 1vw;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(240, 248, 255, 0);
}

.card-grid > button > img {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid white;
}

.card-grid {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: space-around;
}

.background {
  background-image: url("../public/Images/background.png");
  background-size: cover;
  height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
